// Fonts
$font-header: 'Fredericka the Great', cursive;
$font-subheader: 'Lato', sans-serif;
$font-body: 'Quicksand', sans-serif;

// Colors
$grey-transparent: rgba(128, 128, 128, .5);

// Sizing
$mobile-screen-width: 600px;
$tablet-screen-width: 800px;
$desktop-screen-width: 1400px;
$h1: 16px;

// Mixins
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

* {
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width:100%;
}

.parent {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
}

.child {
    margin: auto;
    flex-grow: 1;
    flex-basis: auto;
}

section {
    @extend .child
}

section {
    border: solid $grey-transparent thin;
    @include border-radius(2px);
    box-shadow: 1px 5px 10px #888888;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

img p {
    max-width: $mobile-screen-width;
    width: 100%;
}

img {
    height: auto;
}

h1 {
    font-size: $h1 + 3vw;
    font-family: $font-header
}

h2 {
    font-family: $font-subheader
}

p {
    font-family: $font-body
}

#example {
    color: #888888;
}

.title {
    border-bottom: $grey-transparent thin;
}

img:hover {
    opacity:0.5;
}

@media all and (max-width: $desktop-screen-width) {
    .parent {
        flex-flow: row wrap;
        flex-direction: row;
    }
}

@media all and (max-width: $tablet-screen-width) {
    .parent {
        justify-content: space-around;
    }
}

@media all and (max-width: $mobile-screen-width) {
    .parent {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .child {
        height: calc(100% - 100px);
        display: block;
        width: 100%;
        margin-top: 2px;
        margin-bottom: 2px;
    }
}